@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap");
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
.post{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.post__text{
  margin-left: 2rem;
}
.post__title{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.post__time{
  margin-top: 1rem;
  color: rgb(145, 135, 135);
  font-weight: 600;
}
.post__image>img{
    width: 20rem;
    height: 15rem;
    object-fit: fill;
    border-radius: 1rem;
}
.list-item{
  height: 42rem;
  position: absolute;
  bottom: 0px;
}

@media (min-width: 600px) and (max-width: 1000px) {
  .post__image>img{
    width: 17rem;
    height: 12rem;
    object-fit: fill;
    border-radius: 1rem;
}
.post__text{
  margin-left: 1rem;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}
}
@media (min-width: 0px) and (max-width: 600px) {
  .post__text{
    margin-left: 0.5rem;
  }
  .post__title{
    font-size: 1rem;
  }
  .post__time{
    font-size: 0.8rem;
  }
  .post__image>img{
    width: 12rem;
    height: 7rem;
    object-fit: fill;
    border-radius: 1rem;
}
  .list-item{
    height: 10rem;
    position: absolute;
    bottom: 0px;
  }
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0.3rem;
  }
}
